<div class="jumbotron center">
  <h1>The French Brit !</h1>
  <p>
    Bienvenue!
    Because we're English and we live in France,

    because in the 15 years we've been doing business  we've had the privilege to work with the best,

    THE FRENCH BRIT is an exciting new concept that combines innovation with experience to bridge that age-old gap between our two nations
  </p>
  <p> <%= link_to "http://www.imdb.com/name/nm0074323/", target: '_blank' do %>
    <%= image_tag 'imdb.png', width: 60, height: 30 %>
    <% end %>
</div>
